<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIGN UP</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="{% url 'login' %}">LOGIN</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div>
        <h1>Signup</h1>
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button>Signup</button>
        </form>
      </div>
    </main>
  </body>
</html>
