<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ACCOUNT LIST</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'categories_list' %}">Expense Categories</a></li>
          <li><a href="{% url 'logout' %}">LOGOUT</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Accounts List</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Number of Receipts</th>
          </tr>
        </thead>
        <tbody>
          {% for account in accounts.all %}
          <tr>
            <td>{{ account.name }}</td>
            <td>{{ account.number }}</td>
            <td>{{ account.receipts.all|length }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
